<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head lang="en" th:replace="fragments/header :: header"> </head>

<body ng-app="rolemasterApp" ng-controller="mainCtrl">

	<div class="container">

		<nav th:replace="fragments/navbar :: navbar"></nav>

		<div class="row col-sm-12">
			<h1>Rolemaster movement</h1>
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">Maneuver difficulty</label>
					<div class="col-sm-3">
						<ui-select ng-model="action.difficulty" theme="bootstrap"
							ng-disabled="false" reset-search-input="false"> <ui-select-match
							placeholder="Dificulty">{{$select.selected}}</ui-select-match> <ui-select-choices
							repeat="difficulty in difficulties track by $index">
						<div>{{difficulty}}</div>
						</ui-select-choices> </ui-select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Skill modifier</label>
					<div class="col-sm-3">
						<ui-select ng-model="action.skillModifier" theme="bootstrap"
							ng-disabled="false" reset-search-input="false"> <ui-select-match
							placeholder="Dificulty">{{$select.selected}}</ui-select-match> <ui-select-choices
							repeat="difficulty in difficulties track by $index">
						<div>{{difficulty}}</div>
						</ui-select-choices> </ui-select>
					</div>
					<div class="col-sm-1">
						<input type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Attribute modifier</label>
					<div class="col-sm-3">
						<ui-select ng-model="action.attributeModifier" theme="bootstrap"
							ng-disabled="false" reset-search-input="false"> <ui-select-match
							placeholder="Dificulty">{{$select.selected}}</ui-select-match> <ui-select-choices
							repeat="difficulty in difficulties track by $index">
						<div>{{difficulty}}</div>
						</ui-select-choices> </ui-select>
					</div>
					<div class="col-sm-1">
						<input type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Hit points modifier</label>
					<div class="col-sm-3">
						<ui-select ng-model="action.hpModifier" theme="bootstrap"
							ng-disabled="false" reset-search-input="false"> <ui-select-match
							placeholder="Dificulty">{{$select.selected}}</ui-select-match> <ui-select-choices
							repeat="difficulty in difficulties track by $index">
						<div>{{difficulty}}</div>
						</ui-select-choices> </ui-select>
					</div>
					<div class="col-sm-1">
						<input type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Armor modifier</label>
					<div class="col-sm-3">
						<ui-select ng-model="action.armorModifier" theme="bootstrap"
							ng-disabled="false" reset-search-input="false"> <ui-select-match
							placeholder="Dificulty">{{$select.selected}}</ui-select-match> <ui-select-choices
							repeat="difficulty in difficulties track by $index">
						<div>{{difficulty}}</div>
						</ui-select-choices> </ui-select>
					</div>
					<div class="col-sm-1">
						<input type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Custom modifier</label>
					<div class="col-sm-1 col-sm-offset-3">
						<input type="text" class="form-control" ng-model="action.customModifier" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Total</label>
					<div class="col-sm-1 col-sm-offset-3">
						<input type="text" class="form-control" ng-readonly="true" />
					</div>
				</div>

				

			</form>
			
			<pre>{{action | json}}</pre>
		</div>
	</div>

<script src="/webjars/angularjs/1.6.4/angular.min.js"></script>
<script src="/webjars/angularjs/1.6.4/angular-resource.min.js"></script>
<script src="/webjars/angularjs/1.6.4/angular-route.min.js"></script>
<script src="/webjars/angularjs/1.6.4/angular-cookies.min.js"></script>
<script src="/webjars/angular-ui-select/0.19.6/select.min.js"></script>
<script>
var app = angular.module('rolemasterApp', ["ngResource","ngRoute","ngCookies","ui.select"]);

app.controller('mainCtrl', function($scope, $resource, $http, $cookies) {
	
	$scope.action = {};
	
	$scope.init = function() {
		$http({method: 'GET', url: "/api/common//enumeration/movementDifficulty"}).then(
	        function(response) {
	        	$scope.difficulties = response.data;
	        });
	};
	
	$scope.init();
});
</script>
</body>
</html>